* {
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}
body {
  background-color: #d9d9d9;
  color: #353535;
}
.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px;
  position: relative;
}
.document-list {
  display: grid;
  row-gap: 1rem;
}
.single-doc {
  border-bottom: 2px solid #eee;
}
.single-doc h3 {
  margin-top: 0;
}
button {
  border: none;
  border-radius: 10px;
  background-color: #3c6e71;
  color: #fff;
  padding: 12px 25px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
button:hover {
  background-color: #3c6e71de;
}
input[type="text"],
textarea {
  border-radius: 10px;
  border: 1px solid;
}
.row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 2rem;
}
